{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'bonds' %}">Bonds</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <a href="{% url 'shares' %}">Shares</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="container">
    {% include 'partials/_messages.html' %}

    <div class="display-1">
        <div>
            <h6>Name</h6>
            <p>{{ broker.name }}</p>
        </div>
        <div>
            <h6>Active clients</h6>
            <p>{{ broker.active_clients_number }}</p>
        </div>
        <div>
            <h6>Equity capital</h6>
            <p>{{ broker.equity_capital }}</p>
        </div>
        <div>
            <h6>Trading turnover</h6>
            <p>{{ broker.trading_turnover }}</p>
        </div>
        <div>
            <h6>Stock market</h6>
            <p>{{ broker.stock_market }}</p>
        </div>
        <div>
            <h6>Description</h6>
            <p>{{ broker.description }}</p>
        </div>
        {% if broker.website %}
            <div>
                <h3>Website</h3>
                <p><a href="{{ broker.website }}">{{ broker.website }}</a></p>
            </div>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}