{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'shares' %}">Shares</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <a href="{% url 'bonds' %}">Bonds</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="container">
    {% include 'partials/_messages.html' %}

    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <input type="text" class="form-control" id="searchField" placeholder="Search">
        </div>
      </div>
    </div>
<div class="app-table">
  <table class="table table-stripped table-hover table-sm table-bordered" style="font-size:14px;">
    <thead>
      <tr>
        <th>№</th>
        <th>Name</th>
        <th>ticker</th>
        <th>last_price</th>
        <th>price_change</th>
        <th>volume</th>
        <th>last_transaction_time</th>
        <th>weekly_price_change</th>
        <th>monthly_price_change</th>
        <th>annual_price_change</th>
        <th>capitalization</th>
        <th>volume_change</th>
      </tr>
    </thead>

    <tbody>
      {% for broker in brokers %}
      <tr>
        <td>{{ forloop.counter }}</td>
        {% for field in broker %}
            <td>{{field}}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>

<div class="pagination-container">
<div class="">
Showing page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}
</div>
<ul class="pagination align-right float-right mr-auto">
{% if page_obj.has_previous %}
<li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
<li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
{% endif %}

{% if page_obj.has_next %}
<li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
<li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
{% endif %}
</ul>
</div>

</div>
</div>
{% endblock %}
