{% extends 'base_user.html'%} {% block content %}

<div class="container mt-3">
  <h5>Preferences</h5>
  {% include 'partials/_messages.html' %}

  <div class="row">
    <div class="col-md-2">
      <a href="{% url 'send_pref' %}" class="btn btn-primary">Send to</a>
    </div>
  </div>
<br>

<div class="app-table">
  <table class="table table-stripped table-hover table-sm table-bordered">
    <thead class="thead-light">
      <tr>
        {% if page_obj %}
            <th>Sender name</th>
            <th>Description</th>
            <th></th>
        {% else %}
            <h5>The mail is empty!</h5>
        {% endif %}
      </tr>
    </thead>

    <tbody>
      {% for pref in page_obj %}
      <tr>
        <td>{{ pref.sender }}</td>
        <td>{{ pref.description }}</td>

        <td>
          <a href="#"
            class="btn btn-secondary btn-sm"
            >Show</a
          >
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>
  <div class="pagination-container">
    <div class="">
      Showing page {{page_obj.number}} of {{ page_obj.paginator.num_pages }}
    </div>
    <ul class="pagination align-right float-right mr-auto">
      {% if page_obj.has_previous %}
      <li {% if page_obj.number == 1 %} class="page-item active" {% endif %}><a class="page-link" href="?page=1">&laquo; 1</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
      {% endif %}

      {% if page_obj.has_next %}
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
      <li class="page-item"> <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages}} &raquo;</a></li>
      {% endif %}
      </ul>
  </div>
</div>

{% endblock %}
