{% extends 'base_user.html' %}
{% load static %}
{% block content %}

<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'preferences' %}">Preferences</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Create set</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">
      <form action="{% url 'send_pref' %}" method="post" enctype="multipart/form-data">
        {% include 'partials/_messages.html'%} {% csrf_token %}
        <div class="form-group">
            <label>
                Recipient's name
                <input
                  type="text"
                  class="form-control form-control-sm"
                  name="name"
                  required
                />
            </label>
        </div>
        <div class="form-group">
            <label>
                Description
                <textarea
                  class="form-control form-control-sm"
                  cols="50"
                  name="description"></textarea>
            </label>
        </div>
        <div class="form-group">
            <label>
                Choose a preference to sent
                <select onclick="load('')"
                        name="pref_name" id="sel_" class="d-block form-select form-select-lg mb-3"></select>
            </label>
        </div>
        <input
          type="submit"
          value="Submit"
          class="btn btn-primary btn-primary-sm"
        />
      </form>
    </div>
  </div>
</div>

<script src="{% static 'js/loadPrefs.js' %}"></script>
{% endblock %}
